In [0]:
import pandas as pd
github= pd.read_csv('https://raw.githubusercontent.com/covid19india/api/gh-pages/csv/latest/raw_data.csv')
raw_File_1=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
raw_File_2=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
raw_File_3=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
death_Recovered_1=pd.read_csv('https://api.covid19india.org/csv/latest/death_and_recovered1.csv')
death_Recovered_2=pd.read_csv('https://api.covid19india.org/csv/latest/death_and_recovered2.csv')
state_Wise=pd.read_csv('https://api.covid19india.org/csv/latest/state_wise.csv')
case_Time=pd.read_csv('https://api.covid19india.org/csv/latest/case_time_series.csv')
district_Wise=pd.read_csv('https://api.covid19india.org/csv/latest/district_wise.csv')
state_Wise_Daily=pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')
state_wise_tested_numbers=pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')
tested_numbers=pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')
sources_list=pd.read_csv('https://api.covid19india.org/csv/latest/sources_list.csv')
tested_numbers_data=pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv	')
raw_data=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data.csv')
death_and_recovered=pd.read_csv('https://api.covid19india.org/csv/latest/death_and_recovered.csv')
travel_history=pd.read_csv('https://api.covid19india.org/csv/latest/travel_history.csv')
world_wide=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/full_data.csv')
population=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/locations.csv')
total_confirmed_cases=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/total_cases.csv')
total_deaths=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/total_deaths.csv')
new_confirmed_cases=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/new_cases.csv')
new_deaths=pd.read_csv('https://covid.ourworldindata.org/data/ecdc/new_deaths.csv')

In [0]:
world_wide

             date     location  ...  total_cases  total_deaths
0      2019-12-31  Afghanistan  ...            0             0
1      2020-01-01  Afghanistan  ...            0             0
2      2020-01-02  Afghanistan  ...            0             0
3      2020-01-03  Afghanistan  ...            0             0
4      2020-01-04  Afghanistan  ...            0             0
...           ...          ...  ...          ...           ...
17080  2020-05-10     Zimbabwe  ...           36             4
17081  2020-05-11     Zimbabwe  ...           36             4
17082  2020-05-12     Zimbabwe  ...           37             4
17083  2020-05-13     Zimbabwe  ...           37             4
17084  2020-05-14     Zimbabwe  ...           37             4

[17085 rows x 6 columns]

In [0]:
world_wide.groupby(by='location',axis=0) .count()

                date  new_cases  new_deaths  total_cases  total_deaths
location
Afghanistan      126        126         126          126           126
Albania           67         67          67           67            67
Algeria          131        131         131          131           131
Andorra           62         62          62           62            62
Angola            54         54          54           54            54
...              ...        ...         ...          ...           ...
Western Sahara    19         19          19           19            19
World            136        136         136          136           136
Yemen             35         35          35           35            35
Zambia            57         57          57           57            57
Zimbabwe          55         55          55           55            55

[210 rows x 5 columns]

In [0]:
set(world_wide.location)

{'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'International',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Western Sahara',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [0]:
world_wide.loc[(world_wide.location=='India')]

            date location  new_cases  new_deaths  total_cases  total_deaths
7071  2019-12-31    India          0           0            0             0
7072  2020-01-01    India          0           0            0             0
7073  2020-01-02    India          0           0            0             0
7074  2020-01-03    India          0           0            0             0
7075  2020-01-04    India          0           0            0             0
...          ...      ...        ...         ...          ...           ...
7201  2020-05-10    India       3277         128        62939          2109
7202  2020-05-11    India       4213          97        67152          2206
7203  2020-05-12    India       3604          87        70756          2293
7204  2020-05-13    India       3525         122        74281          2415
7205  2020-05-14    India       3722         134        78003          2549

[135 rows x 6 columns]

In [0]:
total_confirmed_cases

           date    World  Afghanistan  ...  Yemen  Zambia  Zimbabwe
0    2019-12-31       27          0.0  ...    NaN     NaN       NaN
1    2020-01-01       27          0.0  ...    NaN     NaN       NaN
2    2020-01-02       27          0.0  ...    NaN     NaN       NaN
3    2020-01-03       44          0.0  ...    NaN     NaN       NaN
4    2020-01-04       44          0.0  ...    NaN     NaN       NaN
..          ...      ...          ...  ...    ...     ...       ...
131  2020-05-10  3989894       4033.0  ...   34.0   252.0      36.0
132  2020-05-11  4066883       4402.0  ...   51.0   267.0      36.0
133  2020-05-12  4137915       4687.0  ...   56.0   267.0      37.0
134  2020-05-13  4223701       4967.0  ...   67.0   441.0      37.0
135  2020-05-14  4308809       5226.0  ...   70.0   446.0      37.0

[136 rows x 211 columns]

In [0]:
total_confirmed_cases['India']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
        ...
131    62939.0
132    67152.0
133    70756.0
134    74281.0
135    78003.0
Name: India, Length: 136, dtype: float64

In [0]:
population

    countriesAndTerritories        location  ... population_year  population
0               Afghanistan     Afghanistan  ...          2020.0  38928341.0
1                   Albania         Albania  ...          2020.0   2877800.0
2                   Algeria         Algeria  ...          2020.0  43851043.0
3                   Andorra         Andorra  ...          2020.0     77265.0
4                    Angola          Angola  ...          2020.0  32866268.0
..                      ...             ...  ...             ...         ...
204                 Vietnam         Vietnam  ...          2020.0  97338583.0
205          Western_Sahara  Western Sahara  ...          2020.0    597330.0
206                   Yemen           Yemen  ...          2020.0  29825968.0
207                  Zambia          Zambia  ...          2020.0  18383956.0
208                Zimbabwe        Zimbabwe  ...          2020.0  14862927.0

[209 rows x 5 columns]

In [0]:
population.loc[population.location=='India']

   countriesAndTerritories location continent  population_year    population
92                   India    India      Asia           2020.0  1.380004e+09

In [0]:
case_Time

             Date  Daily Confirmed  ...  Daily Deceased  Total Deceased
0     30 January                 1  ...               0               0
1     31 January                 0  ...               0               0
2    01 February                 0  ...               0               0
3    02 February                 1  ...               0               0
4    03 February                 1  ...               0               0
..            ...              ...  ...             ...             ...
100       09 May              3175  ...             115            2101
101       10 May              4311  ...             112            2213
102       11 May              3592  ...              81            2294
103       12 May              3562  ...             120            2414
104       13 May              3726  ...             137            2551

[105 rows x 7 columns]

In [0]:
state_Wise

                                       State  ...                                        State_Notes
0                                      Total  ...                                                NaN
1                                Maharashtra  ...  [10-May]<br>\n- Total numbers are updated to t...
2                                    Gujarat  ...                                                NaN
3                                 Tamil Nadu  ...                                                NaN
4                                      Delhi  ...  [10-May]<br>\n\nDelhi will be releasing bullet...
5                                  Rajasthan  ...                                                NaN
6                             Madhya Pradesh  ...                                                NaN
7                              Uttar Pradesh  ...                                                NaN
8                                West Bengal  ...  - Cases updated as per WB bulletin as it now p...
9                             Andhra Pradesh  ...         Total includes patients from other states.
10                                    Punjab  ...                                                NaN
11                                 Telangana  ...                                                NaN
12                                 Karnataka  ...  One active case in KA reduced as a confirmed p...
13                         Jammu and Kashmir  ...                                                NaN
14                                     Bihar  ...                                                NaN
15                                   Haryana  ...                                                NaN
16                                    Odisha  ...                                                NaN
17                                    Kerala  ...  Mahe native who expired in Kannur included in ...
18                                Chandigarh  ...                                                NaN
19                                 Jharkhand  ...                                                NaN
20                                   Tripura  ...                                                NaN
21                               Uttarakhand  ...                                                NaN
22                          Himachal Pradesh  ...  HP has 4 Migrated cases which are reduced from...
23                                     Assam  ...  Includes one case from Nagaland <br>\nOne pati...
24                              Chhattisgarh  ...                                                NaN
25                                    Ladakh  ...                                                NaN
26               Andaman and Nicobar Islands  ...                                                NaN
27                                 Meghalaya  ...                                                NaN
28                                Puducherry  ...                                                NaN
29                                       Goa  ...                                                NaN
30                                   Manipur  ...                                                NaN
31                                   Mizoram  ...                                                NaN
32                         Arunachal Pradesh  ...                                                NaN
33  Dadra and Nagar Haveli and Daman and Diu  ...                                                NaN
34                                  Nagaland  ...                                                NaN
35                             Daman and Diu  ...                                                NaN
36                               Lakshadweep  ...                                                NaN
37                                    Sikkim  ...                                                NaN

[38 rows x 11 columns]

In [0]:
column="Active"
state_Wise.sort_values(by=column, ascending=False)

                                       State  ...                                        State_Notes
0                                      Total  ...                                                NaN
1                                Maharashtra  ...  [10-May]<br>\n- Total numbers are updated to t...
3                                 Tamil Nadu  ...                                                NaN
4                                      Delhi  ...  [10-May]<br>\n\nDelhi will be releasing bullet...
2                                    Gujarat  ...                                                NaN
6                             Madhya Pradesh  ...                                                NaN
5                                  Rajasthan  ...                                                NaN
7                              Uttar Pradesh  ...                                                NaN
10                                    Punjab  ...                                                NaN
8                                West Bengal  ...  - Cases updated as per WB bulletin as it now p...
9                             Andhra Pradesh  ...         Total includes patients from other states.
14                                     Bihar  ...                                                NaN
13                         Jammu and Kashmir  ...                                                NaN
12                                 Karnataka  ...  One active case in KA reduced as a confirmed p...
16                                    Odisha  ...                                                NaN
11                                 Telangana  ...                                                NaN
15                                   Haryana  ...                                                NaN
18                                Chandigarh  ...                                                NaN
20                                   Tripura  ...                                                NaN
19                                 Jharkhand  ...                                                NaN
23                                     Assam  ...  Includes one case from Nagaland <br>\nOne pati...
17                                    Kerala  ...  Mahe native who expired in Kannur included in ...
22                          Himachal Pradesh  ...  HP has 4 Migrated cases which are reduced from...
21                               Uttarakhand  ...                                                NaN
25                                    Ladakh  ...                                                NaN
24                              Chhattisgarh  ...                                                NaN
28                                Puducherry  ...                                                NaN
27                                 Meghalaya  ...                                                NaN
33  Dadra and Nagar Haveli and Daman and Diu  ...                                                NaN
36                               Lakshadweep  ...                                                NaN
35                             Daman and Diu  ...                                                NaN
34                                  Nagaland  ...                                                NaN
29                                       Goa  ...                                                NaN
32                         Arunachal Pradesh  ...                                                NaN
31                                   Mizoram  ...                                                NaN
30                                   Manipur  ...                                                NaN
26               Andaman and Nicobar Islands  ...                                                NaN
37                                    Sikkim  ...                                                NaN

[38 rows x 11 columns]

In [0]:
state_Wise_Daily

          Date     Status    TT  AN  AP  AR  AS  ...  SK   TN   TG  TR   UP  UT   WB
0    14-Mar-20  Confirmed    81   0   1   0   0  ...   0    1    1   0   12   0    0
1    14-Mar-20  Recovered     9   0   0   0   0  ...   0    0    0   0    4   0    0
2    14-Mar-20   Deceased     2   0   0   0   0  ...   0    0    0   0    0   0    0
3    15-Mar-20  Confirmed    27   0   0   0   0  ...   0    0    2   0    1   0    0
4    15-Mar-20  Recovered     4   0   0   0   0  ...   0    0    1   0    0   0    0
..         ...        ...   ...  ..  ..  ..  ..  ...  ..  ...  ...  ..  ...  ..  ...
178  12-May-20  Recovered  1905   0  58   0   0  ...   0   83   21   0  115   0  113
179  12-May-20   Deceased   120   0   1   0   0  ...   0    8    2   0    2   0    8
180  13-May-20  Confirmed  3726   0  48   0  15  ...   0  509   41   1   94   3  117
181  13-May-20  Recovered  1964   0  86   0   0  ...   0   42  117   0   92   0   90
182  13-May-20   Deceased   137   0   1   0   0  ...   0    3    2   0    4   0    9

[183 rows x 40 columns]

In [0]:
state_wise_tested_numbers

      Updated On                        State  ...  Unnamed: 22 Unnamed: 23
0     17/04/2020  Andaman and Nicobar Islands  ...          NaN         NaN
1     24/04/2020  Andaman and Nicobar Islands  ...       1000.0   1000000.0
2     27/04/2020  Andaman and Nicobar Islands  ...          NaN         NaN
3     01/05/2020  Andaman and Nicobar Islands  ...          NaN         NaN
4     02/04/2020               Andhra Pradesh  ...          NaN         NaN
...          ...                          ...  ...          ...         ...
1067  09/05/2020                  West Bengal  ...          NaN         NaN
1068  10/05/2020                  West Bengal  ...          NaN         NaN
1069  11/05/2020                  West Bengal  ...          NaN         NaN
1070  12/05/2020                  West Bengal  ...          NaN         NaN
1071  13/05/2020                  West Bengal  ...          NaN         NaN

[1072 rows x 24 columns]

In [0]:
state="Tamil Nadu"
state_wise_tested_numbers.loc[state_wise_tested_numbers.State==state]

     Updated On       State  ...  Unnamed: 22 Unnamed: 23
899  03/04/2020  Tamil Nadu  ...          NaN         NaN
900  08/04/2020  Tamil Nadu  ...          NaN         NaN
901  09/04/2020  Tamil Nadu  ...          NaN         NaN
902  10/04/2020  Tamil Nadu  ...          NaN         NaN
903  11/04/2020  Tamil Nadu  ...          NaN         NaN
904  12/04/2020  Tamil Nadu  ...          NaN         NaN
905  13/04/2020  Tamil Nadu  ...          NaN         NaN
906  14/04/2020  Tamil Nadu  ...          NaN         NaN
907  15/04/2020  Tamil Nadu  ...          NaN         NaN
908  16/04/2020  Tamil Nadu  ...          NaN         NaN
909  17/04/2020  Tamil Nadu  ...          NaN         NaN
910  18/04/2020  Tamil Nadu  ...          NaN         NaN
911  19/04/2020  Tamil Nadu  ...          NaN         NaN
912  20/04/2020  Tamil Nadu  ...          NaN         NaN
913  21/04/2020  Tamil Nadu  ...          NaN         NaN
914  22/04/2020  Tamil Nadu  ...          NaN         NaN
915  23/04/2020  Tamil Nadu  ...          NaN         NaN
916  24/04/2020  Tamil Nadu  ...          NaN         NaN
917  25/04/2020  Tamil Nadu  ...          NaN         NaN
918  26/04/2020  Tamil Nadu  ...          NaN         NaN
919  27/04/2020  Tamil Nadu  ...          NaN         NaN
920  28/04/2020  Tamil Nadu  ...          NaN         NaN
921  29/04/2020  Tamil Nadu  ...          NaN         NaN
922  30/04/2020  Tamil Nadu  ...          NaN         NaN
923  01/05/2020  Tamil Nadu  ...          NaN         NaN
924  02/05/2020  Tamil Nadu  ...          NaN         NaN
925  03/05/2020  Tamil Nadu  ...          NaN         NaN
926  04/05/2020  Tamil Nadu  ...          NaN         NaN
927  05/05/2020  Tamil Nadu  ...          NaN         NaN
928  06/05/2020  Tamil Nadu  ...          NaN         NaN
929  07/05/2020  Tamil Nadu  ...          NaN         NaN
930  08/05/2020  Tamil Nadu  ...          NaN         NaN
931  09/05/2020  Tamil Nadu  ...          NaN         NaN
932  10/05/2020  Tamil Nadu  ...          NaN         NaN
933  11/05/2020  Tamil Nadu  ...          NaN         NaN
934  12/05/2020  Tamil Nadu  ...          NaN         NaN
935  13/05/2020  Tamil Nadu  ...          NaN         NaN

[37 rows x 24 columns]

In [0]:
district_Wise

     SlNo State_Code  ... District_Notes Last_Updated
0       1         AN  ...            NaN          NaN
1       2         AN  ...            NaN          NaN
2       3         AN  ...            NaN          NaN
3       4         AP  ...            NaN          NaN
4       5         AP  ...            NaN          NaN
..    ...        ...  ...            ...          ...
780   760         TG  ...            NaN          NaN
781   761         TR  ...            NaN          NaN
782   762         UP  ...            NaN          NaN
783   763         UT  ...            NaN          NaN
784   764         WB  ...            NaN          NaN

[785 rows x 15 columns]

In [0]:
set(district_Wise.State)

{'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal'}

In [0]:
district_Wise.loc[district_Wise.State=='Tamil Nadu']

     SlNo State_Code       State  ... Delta_Deceased District_Notes  Last_Updated
591     0         TN  Tamil Nadu  ...              0            NaN           NaN
592   544         TN  Tamil Nadu  ...              0            NaN           NaN
593   732         TN  Tamil Nadu  ...              0            NaN           NaN
594   545         TN  Tamil Nadu  ...              0            NaN           NaN
595   546         TN  Tamil Nadu  ...              0            NaN           NaN
596   547         TN  Tamil Nadu  ...              0            NaN           NaN
597   548         TN  Tamil Nadu  ...              0            NaN           NaN
598   549         TN  Tamil Nadu  ...              0            NaN           NaN
599   550         TN  Tamil Nadu  ...              0            NaN           NaN
600   734         TN  Tamil Nadu  ...              0            NaN           NaN
601   551         TN  Tamil Nadu  ...              0            NaN           NaN
602   552         TN  Tamil Nadu  ...              0            NaN           NaN
603   553         TN  Tamil Nadu  ...              0            NaN           NaN
604   554         TN  Tamil Nadu  ...              0            NaN           NaN
605   555         TN  Tamil Nadu  ...              0            NaN           NaN
606   556         TN  Tamil Nadu  ...              0            NaN           NaN
607   557         TN  Tamil Nadu  ...              0            NaN           NaN
608   564         TN  Tamil Nadu  ...              0            NaN           NaN
609   558         TN  Tamil Nadu  ...              0            NaN           NaN
610   559         TN  Tamil Nadu  ...              0            NaN           NaN
611   560         TN  Tamil Nadu  ...              0            NaN           NaN
612   733         TN  Tamil Nadu  ...              0            NaN           NaN
613   561         TN  Tamil Nadu  ...              0            NaN           NaN
614   562         TN  Tamil Nadu  ...              0            NaN           NaN
615   731         TN  Tamil Nadu  ...              0            NaN           NaN
616   563         TN  Tamil Nadu  ...              0            NaN           NaN
617   565         TN  Tamil Nadu  ...              0            NaN           NaN
618   566         TN  Tamil Nadu  ...              0            NaN           NaN
619   567         TN  Tamil Nadu  ...              0            NaN           NaN
620   568         TN  Tamil Nadu  ...              0            NaN           NaN
621   569         TN  Tamil Nadu  ...              0            NaN           NaN
622   570         TN  Tamil Nadu  ...              0            NaN           NaN
623   735         TN  Tamil Nadu  ...              0            NaN           NaN
624   571         TN  Tamil Nadu  ...              0            NaN           NaN
625   572         TN  Tamil Nadu  ...              0            NaN           NaN
626   573         TN  Tamil Nadu  ...              0            NaN           NaN
627   574         TN  Tamil Nadu  ...              0            NaN           NaN
628   575         TN  Tamil Nadu  ...              0            NaN           NaN
779   759         TN  Tamil Nadu  ...              0            NaN           NaN

[39 rows x 15 columns]